.bg-image {
    background-image: url("./5492320.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  }
  .login {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-48%, -48%);
    transform: translate(-48%, -48%);
    /* padding: 40px; */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 450px;
    height: 250px;
  }

  .login p{
    padding-bottom: 50px;
    font-weight: bold;
  }

  
  .button-1{
    background-color: #FF0000;
    border: none;
    border-radius: 20px;
    color: #FFFF;
    width: 105px;
    height: 40px;
    font-weight: lighter;
    margin-left: 70px;
  }

  .button-2{
    background-color: #21D25C;
    border: none;
    border-radius: 20px;
    color: #FFFF;
    width: 105px;
    height: 40px;
    font-weight: lighter;
    /* margin-left: 100px; */
  }

  


  .login-title {
    text-align: center;
  }
  .login-button {
    background-color: #24619a;
    color: white;
    border-radius: 40px;
    padding: 5px;
    width: 100px;
    border: none;
    margin-left: 50px;
  }