

.imtahan-form{
  background-color: #FFFFFF;
  /* height: 80% !important; */
  /* margin-top: -26px; */
  /* margin-left: 0; */
  /* width: 102%; */
  padding: 30px !important;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;; */
}

.first-date-a{
  color: black;
}

.first-date-a:hover{
  color: black;
}

.first-date-a2{
  color: black;
  /* margin-top: -5px; */
}

.first-date-a2:hover{
  color: black;
}





.imtahan-input {
  border: none;
  border-bottom: 1px solid #e6e6e6;
}
.imtahan-input:focus {
  outline: none;
}

.imtahan-label {
  font-weight: bold;
}
.imtahan-select {
  width: 205px;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  /* margin-left: 50px; */
  /* padding-right: 200px; */
}

.proqram-parametr {
  width: 86%;
}

.imtahan-select:focus {
  outline: none;
}

.imtahan-select-4 {
  width: 205px;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  /* margin-left: 50px; */
  /* padding-right: 200px; */
  color: #0A64FF;
}

.imtahan-select-4:focus {
  outline: none;
  color: #0A64FF;
}

.imtahan-select-5 {
  width: 165px;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  /* margin-left: 50px; */
  /* margin-right: 10px; */
  /* padding-right: 160px; */
  color: #0A64FF;
}
.imtahan-select-5:focus {
  outline: none;
  color: #0A64FF;
}

.imtahan-right {
  padding: 28px !important;
  font-size: 15px;
  /* margin-right: 35px; */
  /* margin-left: 100px; */
}

.textarea{
    width: 370px;
}

.end-input {
  width: 40% !important;
  border: none;
}

.end-input:focus {
  outline: none;
}

.start-input {
  width: 40%;
  border: none;
}

.start-input:focus {
  outline: none;
}

.kitabxana-button{
  margin-top: 150px !important;
}

.kitabxana-button-1 {
  display: inline-block;
  width: 105px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  background-color: #98b0c7;
  color: white;
  border-radius: 40px;
  padding-top: 7px !important;
  border: none;
}

.kitabxana-button-1:hover {
  color: white;
  cursor: pointer;
}

.kitabxana-button-2 {
  background-color: #21d25c;
  color: white;
  border-radius: 40px;
  padding: center !important;
  width: 105px;
  height: 40px;
  padding-bottom: 2px !important;
  border: none;
}


.datetime {
  margin-right: 160px !important;
}

